Flask==2.0.2
gunicorn==20.1.0
requests==2.26.0
beautifulsoup4==4.10.0
pandas==1.3.3
numpy==1.21.2
scikit-learn==0.24.2
gspread==5.0.0
oauth2client==4.1.3
google-api-python-client==2.92.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
aiohttp==3.8.1